<article class='box'>
  <h3 class='has-text-centered'>
    Authenticate Yourself
  </h3>
  <form>
    <div class='field'>
      <label for='username' class='label'>Username</label>
      <div class='control'>
        <input
          type='text'
          id='username'
          class='input'
          placeholder='Username'
          autocomplete='username'
          autofocus
        />
      </div>
    </div>
    <div class='field'>
      <label for='password' class='label'>Password</label>
      <div class='control'>
        <input
          type='password'
          id='password'
          class='input'
          placeholder='Password'
          autocomplete='current-password'
        />
      </div>
    </div>
    <div class='field'>
      <div class='control'>
        <button type='submit' class='button is-rounded is-primary'>
          Sign In
        </button>
      </div>
    </div>
  </form>
</article>